<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Input form</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="max-w-200 m-20 bg-gray-200 p-4">
        <form action="/store" method="post" class="flex flex-col gap-3">
            <!-- Id input -->
            <div class="">
                <label>ID: </label>
                <input type="number" name="id" placeholder="Enter the Id" />
            </div>
            <!-- title input -->
            <div class="">
                <label>Title: </label>
                <input type="text" name="id" placeholder="Enter the title" />
            </div>
            <!-- Content input -->
            <div class="">
                <label>Content: </label>
                <textarea type="text" name="id" rows="4" placeholder="Enter the description here"></textarea>
            </div>
        </form>
    </div>
</body>
</html>